    
    // style for navbar
    nav{
        .gmail-text-color{
            color: #fff;
        }
        .search-btn{
            background-color: #fff;
        }
    }

    // style for first column
    .my-col1{
        background-color: rgb(180, 175, 180);

        .menu-row{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;

            .m-2{
                text-align: center;
            }

            .compose-btn{
                margin-bottom: 145px;
                padding: 10px 40px 10px 40px;
                background-color: #fff;
                color: #000;
            }
            .compose-btn:hover{
                background-color: rgb(152, 236, 236);
            }

            .menu-list1{
                padding: 6px 16px;
            }

            .menu-list2{
                padding: 6px 28px;
            }
            .menu-list3{
                padding: 6px 23px;
            }
            .menu-list4{
                padding: 6px 24px;
            }
            .menu-list5{
                padding: 6px 26px;
            }
            .btn{
                text-align: center;
            }
            
            .menu-list:hover{
                background-color: rgb(50, 104, 104);
            }
        }
    }

    // style for second column
    .my-col2{
        padding-top: 5px;
        background-color: rgb(228, 166, 84);

        .msg-list-column{
            padding-top: 15px;
            .first-email{
                background-color: rgb(216, 211, 211);
                padding: 10px;
            }

            // d-1 is not a bootstrap class, class given randomly
            .d-1{
                background-color: #fff;
                padding: 10px;
            }
            
            
            .email-time{
                float: right;
            }
            .email-sender{
                font-weight: bold;
            }
        }
    }
    
    //  style for third column
    .my-col3{

        background-color: rgb(248, 248, 245);
    .opened-email{
        padding-top: 15px;
    
        .alex{
            font-weight: bold;
        }
        .btn:hover{
            background-color: rgb(50, 104, 104);
        }
        img{
            padding-right: 10px;
        }
        
    }
}

