    nav{
        .gmail-text-color{
            color: #fff;
        }
        .search-btn{
            background-color: #fff;
        }
    }

    .first-column{
        padding-top: 15px;
        .d-1{
            background-color: #fff;
        }
        
        .email-time{
            float: right;
        }
    }
    
    .my-col1{
        background-color: rgb(245, 36, 245);
    }
    .my-col2{
        background-color: rgb(228, 166, 84);
    }
    .my-col3{
        background-color: rgb(114, 114, 240);
    }


